@import "styles/common";
@mixin level($color) {
  border-color: $color;
  color: $color;
  box-shadow: 0.1rem 0.2rem 0.7rem $color;
  &:hover {
    background-color: $color;
    color: $text-light;
  }
}
.category-container {
  width: 100%;
  padding-top: 2rem;
  min-height: 56rem;
  .categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 20px;
    .category {
      padding: 10px;
      height: 200px;
      background-color: $color-secondary;
      @include flex(column, space-around, center);
      border-radius: 10px;
      text-decoration: none;
      position: relative;
      .overlay {
        position: absolute;
        background-color: white;
        height: inherit;
        width: -webkit-fill-available;
        border-radius: 9px;
        filter: opacity(0);
        @include flex(row, space-around, center);
        .easy {
          @include level($color-success);
        }
        .medium {
          @include level($color-secondary);
        }
        .hard {
          @include level($color-danger);
        }
        &:focus-within {
          filter: opacity(0.9);
        }
      }
      &:hover,
      &:focus-within {
        box-shadow: 0px 0px 5px 1px black;
        .overlay {
          filter: opacity(0.9);
        }
      }
      svg {
        fill: $text-light;
        width: 100px;
        height: 100px;
      }
      strong {
        color: $text-light;
        font-size: 16px;
      }
    }
  }
}
