@import "styles/common";
.header {
  text-align: left;
  padding: 0.5rem 0 0 1rem;
  @include flex($justify: space-between);
  width: 100%;
  a {
    text-decoration: none;
    h2 {
      margin: 0;
      span {
        font-family: Bernard MT Condensed !important;
        &#fire {
          color: $text-secondary;
        }
        &#quiz {
          color: $text-primary;
        }
      }
    }
  }
}
