@import "styles/common";
.footer {
  &__data {
    width: 100%;
    padding: 20px 1rem;
    font-size: 12px;
    @include flex(row, space-between, center, wrap);
    p,
    a {
      color: $text-secondary;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    .footer_made_by {
      text-align: center;
    }
    .linkedin_footer {
      @include flex(column, flex-start, flex-start, wrap);
      margin-left: 8px;
      & p:first-child {
        svg {
          height: 20px;
          margin-left: 5px;
          position: relative;
          top: 6px;
        }
      }

      .profile {
        margin-top: 6px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .linkedin_footer {
    margin-top: 8px;
  }
  h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
