@import "styles/common";
.progress-container {
  @include flex(row, space-between);
  .hud-item {
    .hud-prefix {
      text-align: center;
      font-size: 2rem;
      color: $text-secondary;
    }
    #progressBar {
      width: 20rem;
      height: 3rem;
      border: 0.3rem solid $border-primary;
      margin-top: 1.2rem;
      position: relative;
      #progressBarFull {
        height: 3rem;
        position: absolute;
        top: -3px;
        left: -1px;
        background-color: $color-primary;
        width: 0%;
        transition: 300ms ease all;
      }
    }
  }
  .score {
    color: $text-primary;
  }
}
